<%= form_for(@message , remote: true, :html => {:class => "form-group"}) do |f| %>
    <fieldset>
        <div class="form-group">
            <%= f.text_field :name, placeholder: "Name" %>
        </div>
        <div class="form-group">
            <%= f.email_field :email, placeholder: "Email address" %>
        </div>
        <div class="form-group">
            <%= text_area_tag :body, "What's  on your mind, fella?" %>
        </div>
    </fieldset>
<% end %>