// Colors
/* RGB */
$color1: rgba(241, 253, 253, 1);
$color2: rgba(14, 15, 17, 1);
$color3: rgba(133, 103, 93, 1);
$color4: rgba(100, 120, 168, 1);
$color5: rgba(59, 69, 71, 1);

// Fonts
$header-font-family: 'Kelly Slab', cursive;
$body-font-family: 'Raleway', sans-serif;

