<div class="footer fixed-bottom">
<div class="row">
    <div class="col-md"><h3>About</h3></div>
    <div class="col-md"><h3>Links</h3></div>
    <div class="col-md"><h3>Other stuff</h3></div>
</div>
</div>