<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav nav-pills">
        <li class="btn nav-item"><%= link_to "First", :class => "nav-link" %></li>
        <li class="btn nav-item"><%= link_to  "Second", :class => "nav-link" %></li>
        <li class="btn nav-item"><%= link_to  "Third", :class => "nav-link" %></li>
        <li class="btn nav-item justify-content-end"><%= link_to  "login", :class => "btn" %></li>
    </ul>
</nav>
